.other-photo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    object-fit: fill;
    margin: 4em auto;
    width: 60%;
    height: 350px;
}

.other-photo img {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0;
}
.center {
    padding: 0 15em;
}
